@import "tailwindcss";
@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}

*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
.headerContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 2rem 5rem;
  gap: 2rem;
}


.main-section>* {
  flex: 1;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

header img {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 10px;
  margin-left: -5%;
}

nav a {
  padding-left: 2rem;
  font-size: 1rem;
  transition: color 0.2s ease;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.1rem;
  z-index: 999;
}

nav a:hover {
  color: #a7a7a7;
}

.tracing {
  display: flex;
  justify-content: center;  
  align-items: center;       
  min-height: 100vh;         
  position: relative;        
  padding: 2rem;
}

@media (max-width: 768px){
  header{
    display: none;
  }
}